Package: com.551.ebayfixer
Name: eBayFixer iOS 14
Version: 1.0.28
Architecture: iphoneos-arm
Description: eBay compatibility build for rootful iOS 14.
Maintainer: 551UK
Author: 551UK
Section: Tweaks
Depends: mobilesubstrate
Conflicts: com.551.ebayfix
